@media (max-width: 786px) {
    .container-fluid {
        flex-direction: column;
        flex-direction: column;
    }

    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    #desktop-view-bg {
        display: none;
    }

    #mobile-view-bg {
        display: block;
    }
}